@font-face {
    font-family: iphone;
    src: url("l.otf");
}

::selection{
    background-color: rgba(127, 255, 212, 0.07);
}

body{
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;

    background-color: black;

    background-image: url("wallpaper.png");
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.container h1{
    margin: 0px;

    position: absolute;
    top: 25%;

    font-size: 90px;
    font-family: iphone;
    color: rgb(255 235 205 / 92%);
}

